@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
  color:inherit;
  transition: color 0.5s ease;
}

/*menu bar*/

.side a{
  text-decoration: none;
  color:black;
}

.side a:hover{
  text-decoration: none;
  color:#E55E5E;
}

#menu2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.2);
  right:0;
  width:80px;
  z-index: 5;
}

.side{
  transform:rotate(90deg);
  margin-top:70px;
  font-size: 20px;
}

#rest{
  margin-top:100px;
}

#rest1{
  margin-top:130px;
}

.circle{
  background-color: #484848;
  height:30px;
  width: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 25px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  margin-top: 370px;
  border: none;
}

#subtwo{
  margin-top:410px;
}

.icon{
  color:white;
  font-weight: bold;
  font-size: 18px;
  opacity: 0;
  margin-top:-10px;
  position: absolute;
  transition: all 0.5s ease;
}

#sutw{
  margin-left: 5.5px;
}

#sub:hover .icon{
  opacity: 1;
}

#subtwo:hover .icon{
  opacity: 1;
}

/*popup one*/

#popupToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 863px;
  left: 19px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#pop{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: none;
}

.popbox{
  height: 20vw;
  width: 40vw;
  background-color: white;
  margin: 0 auto;
  top:50%;
  left:50%;
  margin: -12.5vw 0 0 -20vw;
  position: absolute;
  display: block;
  z-index: 7;
  box-shadow:2vw 2vw 2vw rgba(0, 0, 0, 0.2);
}

#popred{
  background-color:#E55E5E;
  display: none;
}

#error{
  color: white;
}

#sad{
  display: none;
}

.news{
  margin-left: 3vw;
  margin-top:5vw;
  font-size: 2.3vw;
  color: #484848;
}

#mail{
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #484848;
  outline:none;
  width: 33vw;
  margin-left: 3vw;
  margin-top:2vw;
  font-size: 1.5vw;
}

.submit{
  width:8vw;
  height: 3vw;
  background-color: #484848;
  border: none;
  color: white;
  padding: 0.5vw 2vw;
  text-align: center;
  display: inline-block;
  font-size: 1.2vw;
  margin: 4px 2px;
  cursor: pointer;
  right:0;
  bottom:0;
  position: absolute;
  margin:0;
  transition: color 0.5s ease;
}

.submit:hover{
  color:#E55E5E;
}

.cancelpop{
  padding: 0;
  border: none;
  background: none;
  font-size: 1.3vw;
  position: absolute;
  bottom: 0.7vw;
  right:10vw;
  color: #E8E8E8;
  cursor: pointer;
  transition: color 0.5s ease;
}

.cancelpop:hover{
  color: #D1D1D1;
}

#hiddennews, #close{
  display: none;
}

/*popup two*/

#poptwo{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: none;
  position: fixed;
}

.popboxtwo{
  height: 40vw;
  width: 40vw;
  background-color: white;
  margin: 0 auto;
  top:50%;
  left:50%;
  margin: -20vw 0 0 -20vw;
  position: absolute;
  display: block;
  z-index: 7;
  box-shadow:2vw 2vw 2vw rgba(0, 0, 0, 0.2);
}

#bug{
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #484848;
  outline:none;
  width: 33vw;
  height: 22vw;
  margin-left: 3vw;
  margin-top:2vw;
  font-size: 1.5vw;
}

.submittwo{
  width:8vw;
  height: 3vw;
  background-color: #484848;
  border: none;
  color: white;
  padding: 0.5vw 2vw;
  text-align: center;
  display: inline-block;
  font-size: 1.2vw;
  margin: 4px 2px;
  cursor: pointer;
  right:0;
  bottom:0;
  position: absolute;
  margin:0;
  transition: color 0.5s ease;
}

.submittwo:hover{
  color:#E55E5E;
}

.cancelpoptwo{
  padding: 0;
  border: none;
  background: none;
  font-size: 1.3vw;
  position: absolute;
  bottom: 0.7vw;
  right:10vw;
  color: #E8E8E8;
  cursor: pointer;
  transition: color 0.5s ease;
}

.newstwo{
  margin-left: 3vw;
  margin-top:5vw;
  font-size: 2.3vw;
  color: #484848;
}

#popredtwo{
  background-color:#E55E5E;
  display: none;
}

#hiddennewstwo{
  display:none;
}

#closetwo{
  display: none;
}


/*box*/

.box{
  margin:0 auto;
  padding:0;
  background-color:#484848;
  width: 40%;
  height: 100%;
  position: absolute;
}

/*logo*/

.logo{
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
  position: absolute;
  color:  white;
}

.wp{
  margin-top:-38px;
  font-size: 28px;
}

.gg{
  letter-spacing: 1px;
}

#bl{
  color: black;
}

/*frontpage*/

.mainhead{
  color: white;
  font-size: 4.1vw;
  margin-top:50%;
  margin-left:40px;
  line-height: 1;
}

.links, .social{
  text-decoration: none;
}

.links{
  list-style-type: none;
  margin-left: 40px;
  margin-top: -2vw;
  padding: 0;
  overflow: auto;
  color: white;
  width: 28vw;
}

.social{
  float:left;
  margin-left: 23px;
  font-weight: lighter;
}

#soone{
  margin-left: 0px;
}

.line{
  float: left;
  border-left: 2px solid white;
  height: 25px;
  margin-left: 1.4vw;
}

.social:hover{
  color:#E55E5E;
}

.mainbod{
  width:28vw;
  margin-left: 40px;
  margin-top:150px;
  color:white;
  font-weight: lighter;
  line-height: 30px;
}

.tracer{
  position: absolute;
  z-index: 4;
  width: 70vw;
  margin-top:3vw;
  margin-left: 28vw;
}

/*Upcoming Page*/

#subpageh{
  color:black;
  margin-top:10vw;
  position: absolute;
}

.upgames{
  width:90vw;
  height: 27vw;
  background-color: white;
  position: absolute;
  margin-top: 20vw;
  margin-bottom: 20vw;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  display: inline-block;
}

.upgames:hover{
  margin-left: 40px;
}

.upgamesi{
  padding:3.5vw;
  width:35vw;
  position: absolute;
}

.upgamesbod{
  width: 45vw;
  margin-left:42vw;
  margin-top:3vw;
}

.upgamesp{
  margin-top: 2.5vw;
  line-height: 35px;
}

.upgamesa{
  float: left;
  display: block;
  position: absolute;
  right:5vw;
  bottom:3vw;
  color:#E55E5E;
}

.upgamesa::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E55E5E;
    transition: width .3s;
}

.upgamesa:hover::after {
    width: 100%;
}

#upsecond{
  margin-top:50vw;
  margin-bottom: 20vw;
}

#upthird{
  margin-top:80vw;
  margin-bottom: 20vw;
}

/*game search engin*/

.searchengin{
  margin-top: 20%;
  margin-left: 20%;
  position: absolute;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.search, .searchtext {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.searchtext {
  background-color: white;
  border-width: 0px 0px 1px 0px;
  border-color: #484848;
  font-size: 4vw;
  outline:none;
  margin-top:10%;
}

.search {
  margin-top: 10%;
  width: 5vw;
  cursor: pointer;
  background: transparent;
  position: absolute;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  color:#E55E5E;
}

.autocomplete-active {
  background-color: #484848 !important;
  color: white;
}

/*Other Pages*/

.rightside{
  margin-left: 17%;
  margin-top:90px;
  margin-bottom: 40px;
  position: absolute;
  display: block;
  width: 60%;
  z-index: 10;
}

.allheader{
  font-size: 4vw;
  text-transform: uppercase;
}

.nogame{
  font-size: 3vw;
  margin-top:30%;
  margin-left: 7%;
}

.revbody{
  line-height: 40px;
  font-weight: lighter;
  margin-top:50px;
}

.sideimage{
  margin-top: 180px;
  width: 48vw;
  display: block;
}

.parallax {
    background-image: url("Images/Diana.jpg");
    min-height: 35vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bgtwo{
  background-image: url("Images/Heroes.jpg");
}

#bgthree{
  background-image: url("Images/PUBG.jpg");
}
