@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
  color:inherit;
}

/*menu bar*/

.side a{
  text-decoration: none;
  color:black;
}

.side a:hover{
  text-decoration: none;
  color:#E55E5E;
}

#menu2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.2);
  right:0;
  width:80px;
  z-index: 5;
}

.side{
  transform:rotate(90deg);
  margin-top:70px;
  font-size: 20px;
}

#rest{
  margin-top:100px;
}

#rest1{
  margin-top:130px;
}

.circle{
  background-color: #484848;
  height:30px;
  width: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 25px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  margin-top: 370px;
  border: none;
}

#subtwo{
  margin-top:410px;
}

.icon{
  color:white;
  font-weight: bold;
  font-size: 18px;
  visibility: hidden;
  margin-top:-10px;
  position: absolute;
}

#sutw{
  margin-left: 5.5px;
}

#sub:hover .icon{
  visibility: visible;
}

#subtwo:hover .icon{
  visibility: visible;
}

/*popup one*/

#popupToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 863px;
  left: 19px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#pop{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 6;
  display: none;
}

.popbox{
  height: 20vw;
  width: 40vw;
  background-color: white;
  margin: 0 auto;
  top:50%;
  left:50%;
  margin: -12.5vw 0 0 -20vw;
  position: absolute;
  display: block;
  z-index: 7;
  box-shadow:2vw 2vw 2vw rgba(0, 0, 0, 0.2);
}

#popred{
  background-color:#E55E5E;
  display: none;
}

#error{
  color: white;
}

#sad{
  display: none;
}

.news{
  margin-left: 3vw;
  margin-top:5vw;
  font-size: 2.3vw;
  color: #484848;
}

#mail{
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #484848;
  outline:none;
  width: 33vw;
  margin-left: 3vw;
  margin-top:2vw;
  font-size: 1.5vw;
}

.submit{
  width:8vw;
  height: 3vw;
  background-color: #484848;
  border: none;
  color: white;
  padding: 0.5vw 2vw;
  text-align: center;
  display: inline-block;
  font-size: 1.2vw;
  margin: 4px 2px;
  cursor: pointer;
  right:0;
  bottom:0;
  position: absolute;
  margin:0;
}

.submit:hover{
  color:#E55E5E;
}

.cancelpop{
  padding: 0;
  border: none;
  background: none;
  font-size: 1.3vw;
  position: absolute;
  bottom: 0.7vw;
  right:10vw;
  color: #E8E8E8;
  cursor: pointer;
}

.cancelpop:hover{
  color: #D1D1D1;
}

#hiddennews, #close{
  display: none;
}

/*popup two*/

#poptwo{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 6;
  display: none;
}

.popboxtwo{
  height: 40vw;
  width: 40vw;
  background-color: white;
  margin: 0 auto;
  top:50%;
  left:50%;
  margin: -20vw 0 0 -20vw;
  position: absolute;
  display: block;
  z-index: 7;
  box-shadow:2vw 2vw 2vw rgba(0, 0, 0, 0.2);
}

#bug{
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #484848;
  outline:none;
  width: 33vw;
  height: 22vw;
  margin-left: 3vw;
  margin-top:2vw;
  font-size: 1.5vw;
}

.submittwo{
  width:8vw;
  height: 3vw;
  background-color: #484848;
  border: none;
  color: white;
  padding: 0.5vw 2vw;
  text-align: center;
  display: inline-block;
  font-size: 1.2vw;
  margin: 4px 2px;
  cursor: pointer;
  right:0;
  bottom:0;
  position: absolute;
  margin:0;
}

.submittwo:hover{
  color:#E55E5E;
}

.cancelpoptwo{
  padding: 0;
  border: none;
  background: none;
  font-size: 1.3vw;
  position: absolute;
  bottom: 0.7vw;
  right:10vw;
  color: #E8E8E8;
  cursor: pointer;
}

#popredtwo{
  background-color:#E55E5E;
  display: none;
}

#hiddennewstwo{
  display:none;
}

#closetwo{
  display: none;
}


/*box*/

.box{
  margin:0 auto;
  padding:0;
  background-color:#484848;
  width: 40%;
  height: 100%;
  position: absolute;
}

/*logo*/

.logo{
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
  position: absolute;
  color:  white;
}

.wp{
  margin-top:-38px;
  font-size: 28px;
}

.gg{
  letter-spacing: 1px;
}

#bl{
  color: black;
}

/*frontpage*/

.mainhead{
  color: white;
  font-size: 4.1vw;
  margin-top:50%;
  margin-left:40px;
  line-height: 1;
}

.links, .social{
  text-decoration: none;
}

.links{
  list-style-type: none;
  margin-left: 40px;
  margin-top: -2vw;
  padding: 0;
  overflow: auto;
  color: white;
  width: 28vw;
}

.social{
  float:left;
  margin-left: 23px;
  font-weight: lighter;
}

#soone{
  margin-left: 0px;
}

.line{
  float: left;
  border-left: 2px solid white;
  height: 25px;
  margin-left: 1.4vw;
}

.social:hover{
  color:#E55E5E;
}

.mainbod{
  width:28vw;
  margin-left: 40px;
  margin-top:150px;
  color:white;
  font-weight: lighter;
  line-height: 30px;
}

.tracer{
  position: absolute;
  z-index: 4;
  width: 70vw;
  margin-top:3vw;
  margin-left: 28vw;
}
